<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Todos App</a>
    <div class="d-flex justify-content-between" style="width: 15vw;">
      <div class="d-flex align-items-center">
        <img src="{{avatar}}" class="card-img-top" alt="user-avatar" style="height: 30px; width: 35px;">
        <h5 style="margin: 0;">{{Name}}</h5>
      </div>
      <button type="button" class="btn btn-danger" (click)="logOut()">
        LogOut
      </button>
    </div>
  </div>
</nav>
<div>
  <form>
    <div id="addtask">
      <input class="m-3" type="text" placeholder="Enter your task" #taskAdd>
      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#userPassword"
        (click)="AddTask(taskAdd.value)">
        Add Task
      </button>
    </div>
  </form>
</div>


<section class="row">

  <div class="col-12 row">
    <div class="col-12" *ngFor="let todo of userTodos">
      <div class="card m-1">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="card-title">{{todo.task}}</h5>
            </div>
            <div>
              <input class="mx-5" type="checkbox" (click)="ToggleTask(todo.id)" [checked]="todo.completed != false">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#userPassword"
                (click)="DeleteTask(todo.id)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>